* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}
